<!DOCTYPE html>
<html ng-app="myapp">

	<head ng-controller="DataController">

		<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="application.css" />
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="ui-bootstrap-tpls-2.2.0.min.js"></script>
		<script type="text/javascript" src="app.js"></script>

	</head>

	<body ng-controller="MainController">

		<div class="container-fluid">

			<div class="row">

				<div class="col-md-6">

					<h2>Enter details: </h2>

					<form novalidate ng-submit="update(details)" name="myForm">

						<div class="form-group">
							<input ng-model="details.name" class="form-control" placeholder="Name" title="Name" required></input>
						</div>

						<div class="form-group">
							<input ng-model="details.email" class="form-control" placeholder="user123@email.com" title="Email" type="email" required></input>
						</div>

						<div class="form-group">
							<textarea ng-model="details.address" class="form-control" placeholder="enter address..." title="Address" required></textarea>
						</div>

						<div class="form-group">
							<input ng-model="details.phone" class="form-control" placeholder="enter phone number..." title="Phone Number" type="text" pattern="[0-9]*" maxlength="15" required></input>
						</div>

						<div class="form-group form-inline">
							<p class="input-group">
								<input ng-model="details.dob" type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="isOpened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="YYYY-MM-DD" title="Date of Birth" required />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>
						</div>

						<div class="form-group">
							<input ng-disabled="myForm.$invalid" type="submit" class="btn btn-primary pull-right" value="Save"></input>
						</div>

					</form>

				</div>

				<div class="col-md-4">
					<h2>Output: </h2>
					<pre>Name = {{details.name}}</pre>
					<pre>Email = {{details.email}}</pre>
					<pre>Address = {{details.address}}</pre>
					<pre>Phone Number = {{details.phone}}</pre>
					<pre>Date of Birth = {{details.dob | date : "dd/MM/yyyy"}}</pre>
				</div>
			</div>
			<div class="row"><div class="col-md-6">&nbsp;</div></div>
			<div class="row">
				<div class="col-md-8">
					<table class="table">
						<thead>
							<tr>
								<td>Name</td>
								<td>Email</td>
								<td>Date of Birth</td>
								<td>Age</td>
								<td>Address</td>
								<td>Phone Number</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="record in records track by $index">
								<td>{{record.name}}</td>
								<td>{{record.email}}</td>
								<td>{{record.dob | date : "dd/MM/yyyy"}}</td>
								<td>{{record.dob | ageFilter}}</td>
								<td>{{record.address}}</td>
								<td>{{record.phone}}</td>
								<td class="btn btn-primary" ng-click="edit(record)" value="Edit">Edit</td>
								<td class="btn btn-primary" ng-click="delete(record)" value="Delete">Delete</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
