<!--<div class="contact" ng-hide="edit" ng-click="edit=true">-->
    <!--<h4>{{ contact.title }}</h4>-->
    <!--<span class="description">{{ contact.description }}</span>-->
<!--</div>-->

<!--<div class="contact" ng-show="edit">-->
    <!--<div class="flex">-->
        <!--<label><strong>Title:&nbsp;</strong></label>-->
        <!--<input type="text" ng-model="contact.title" ng-model-options="modelOptions" ng-change="update()"/>-->
    <!--</div>-->
    <!--<textarea ng-model="contact.description" ng-change="update()" ng-model-options="modelOptions" placeholder="Enter description..."></textarea>-->
    <!--<button ng-click="edit=false">Close</button>-->
    <!--<button ng-click="delete()">Delete Contact</button>-->
<!--</div>-->